header {
  display: flex;
  justify-content: space-between;
  background-color: #444;
  padding-top: 10px;
  height: 80px;
  margin-bottom: 1%;

  .logo {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    margin-left: 5px;
    transform:scale(1);
    margin-left: 20%;
    transition:transform .3s ease-out;
    &:hover{
      transform: scale(1.2);
    }
  }
  nav {
    ul {
      .navlink {
        padding: 2rem;
        font-size: 1.5rem;
        color: white;
        font-weight: 400;
        display: inline-block;
        &::before,
        &::after {
          content: "";
          height: 4px;
          background: #f9dd94;
          display: block;
          transition: width 0.3s ease-in-out;
          margin: 0 auto;
        }

        &::before {
          width: 100%;
        }
        &::after {
          width: 0;
        }

        &:hover::before {
          width: 0;
        }
        &:hover::after {
          width: 100%;
        }

        &:hover{
          color: #f9dd94;
        }
      }
    }
  }
}
